.form {
  background: linear-gradient(90deg, rgb(0, 0, 0) 30%, rgba(140,8,8,1) 100%, rgb(254, 255, 255) 100%);
  padding: 1rem;
  width: 20rem;
}

.form label {
  display: block;
  margin-bottom: 0.05rem;
  color: #eadbfb;
  font-weight: bold;
}

.form input,
.form textarea {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  background-color: #ffffff;
  color: #000000;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.actions button {
  cursor: pointer;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  color: #000000;
}

.actions button:hover {
  
  background-color: #000000;
  color: #ffffff;
}

.actions a {
  background-color: transparent;
  text-decoration: none;
  color: #ffffff;
}

.actions a:hover {
  color: #d1bee6;
}